
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Nunito';
}

body{
    height: 100vh;
}

@media screen and (max-width: 1000px)  {
    header{
        display: flex;   
        gap: 1rem;
        padding: 1rem;
        background-color: #FFE598 ;
        height: 10vh;
        align-items: center;
    }
    header img{
        height: 3rem;
        width: 3rem;
    }
    header h1 {
        display: flex;
        align-items: center;
    }
    
    main{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        height: 90vh;
        background-color: #FFF9E9;
    }

    main .um {
        display: flex;
        justify-content: center;
        background-color: #4E7B3D;
        border-radius: 1rem;
        padding: 2rem;
        margin: 1rem;
    }

    main .um h2{
        color: rgb(241, 241, 241);
    }

    main .dois{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 1rem;
    }
    main .dois label{
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 7rem;
        background-color: #FFE598;
        padding: 1rem;
        border-radius: 1rem;
        align-items: center;
    }

    main .tres{
        display: flex;
        justify-content: center;
        padding: 2rem;
    }
    
    main .tres button{
        background-color: #4E7B3D;
        border-radius: 1rem;
        border-style: none;
        padding: 1rem;
        width: 50%;
        color: white;
        font-size: 1.75rem;
    }
}